body{
  background-color:whitesmoke;
}

header{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;
}
h1{
  margin: 0;
  margin-bottom: 1em;
}
.input{
  border-radius: 0.6em;
  border:1px solid black;
  padding: 15px;
  width: 15em;
  text-align: center;
  font-size: medium;
}
select{
  margin-left: 1em;
  padding:10px;
  border-radius: 0.6em;
}
.con{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 60px;
}